.head{
  float: right;
}

body{
  background: black;
  font-family:sans-serif;
}

.top {
    height: 25%;
    width: 100%;
    background-color: black;
}

header{
  background-color: black;
}

h1{
  margin: 100px 0px 0px 10px;
}

main{
  background-color: white;
  text-align: inherit;
  overflow: auto;
}
/*The instruction for this assignment say to change the main for one of the additional pages to gray.  I think it affects the overall flow of the website but I want to follow the instructions*/
.main2{
  background-color: gray;
  text-align: inherit;
  overflow: auto;
}

nav{
  background-color: gray;
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

p {
    margin: 10px 0px 10px 10px;
}

p.footer{
  text-align: center;
}

div1{
  width: 500px;
  float: left;
}

div2.rightside {
    width: 325px;
    height: auto;
    padding: 5px;
    border: 5px solid gray;
    text-align: center;
    float: right;
}
/*For the third page this will put the side bar on the left side of the page instead of the left.  I think this is what is being asked of us in the homework assignment even though it affects the overall flow of the website*/
div3.leftside {
    width: 325px;
    height: auto;
    padding: 5px;
    border: 5px solid gray;
    text-align: center;
    float: left;
}
/*Again I'm pushing this to the right so my sidebar can be on the left per the homework instructions*/
div1.liability{
  float: right;
}

span.navigationSpace {
    padding-left: 200px;
}
/*for the table on the rates page*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

footer{
  background-color: black;
}